<% @title = "Fall 2012 Studio Recital" %>

<div class="content stuff cf">
  <h1><%= @title %></h1>
  <div id="recital-column1">
    <p>
    <h2>Recital Information</h2>
      <ul>
	<li>Session 1 : 2:00pm</li>
	<li>Session 2 : 4:00pm</li>
	<li>Session 3 : 6:00pm</li>
      </ul>
      <ul>
	<li>Reception is from 3:30pm to 4:00pm.</li>
	<li>Marketplace is from 7:00pm to 7:30pm.</li>
      </ul>
    </p>
  </div>
  <div id="recital-column2">
    <p><h2>Where</h2>
      West Bay Conference Center in San Francisco
      <ul>
	<li>1290 Fillmore Street</li>
	<li>San Francisco, CA 94115</li>
      </ul>
    </p>
  </div>
  <div id="recital-column3">
    <p><h2>Date & Time</h2>
      September 22, 2012 2:00pm-7:00pm
    </p>
  </div>
</div>

