<div class="main">
  <div class="content stuff">
    <h1>Fall 2012 Events</h1>
    <div id="column1">
      <p><h2>Fundraiser</h2>
	"Home Sweet Home" Family Fundraising Dinner
      </p>
    </div>
    <div id="column2">
      <p><h3>Where</h3>
	West Bay Conference Center in San Francisco
	<ul>
	  <li>1290 Fillmore Street</li>
	  <li>San Francisco, CA 94115</li>
	</ul>
      </p>
    </div>
    <div id="column3">
      <p><h3>Date & Time</h3>
	November 3, 2012 4:00pm-9:00pm
      </p>
    </div>
  </div>
</div>
