<% @title = '"Home Sweet Home" Family Fundraising Dinner' %>

<div class="content stuff cf">
  <h1><%= @title %></h1>
  <div class="split-70-30">
    <div class="left">
      <h2>Fundraiser Information</h2>
      <p>
	NCMACC will celebrate its 20th Anniversary with a special "Home Sweet Home” Family Fundraising Dinner on Saturday, November 3, 2012 at West Bay Conference Center in San Francisco, where we will honor supporters, friends and families. Please join us in this unique event.
      </p>
      <h2>Where</h2>
      <p>
	West Bay Conference Center in San Francisco
	<ul>
	  <li>1290 Fillmore Street</li>
	  <li>San Francisco, CA 94115</li>
	</ul>
      </p>
      <h2>Date & Time</h2>
      <p>
	November 3, 2012 5:00pm-9:00pm
      </p>
      <h2>Tentative Schedule of Events</h2>
      <p>
	<ul class="program-details">
	  <li>5pm to 6pm - Authentic Korean Cooking Demonstration and Food Tasting</li>
	  <li>6pm to 7pm - Opening Ceremony</li>
	  <li>7pm to 9pm - Ceremony</li>
	</ul>
      </p>
      <h2>In-Kind Donations for Raffle</h2>
      <p>
	<ul class="program-details">
	  <li>Hotel Kabuki</li>
	  <li>San Francisco Opera</li>
	  <li>San Francisco Symphony</li>
	  <li>San Francisco Helicopters</li>
	  <li>Club One Fitness</li>
	  <li>Seoul Market Restaurant</li>
	  <li>New Korea House Restauran</li>
	  <li>Muguboka Restaurant</li>
	  <li>Seoul Garden Restaurant</li>
	  <li>Nagano Sushi Restaurant</li>
	  <li>Safeway</li>
	  <li>Arang Restaurant</li>
	  <li>Woori Market</li>
	  <li>Moyo's Frozen Yogurt</li>
	</ul>
      </p>
      <h2>Ad in Our Event Program</h2>
      <p>
	<ul class="program-details">
	  <li>Good News Presbyterian Church of San Francisco</li>
	  <li>Northern California Bank & Trust</li>
	  <li>Baek Young Ahn ARCHITECT</li>
	  <li>Hanmi Bank</li>
	  <li>Pacific Heights Inn</li>
	  <li>Hyundai Greentec</li>
	  <li>Wells Fargo Bank</li>
	  <li>Union Bank</li>
	  <li>International Korean Women's Network</li>
	  <li>San Mateo Collision</li>
	  <li>YOYO Japanese Restaurant</li>
	  <li>Faarmers Insurance Group, Brent L. Lee</li>
	  <li>Komatsu CPA</li>
	  <li>Jason Thrupp Painting Inc.</li>
	  <li>Littler Mendelson, P.C.</li>
	  <li>Kim's Express Line Corp.</li>
	  <li>Japan Center Garage Corporation</li>
	</ul>
      </p>
      <h2> In-kind donations for the event:</h2>
      <p>
	<ul class="program-details">
	  <li>Trader Joe's</li>
	  <li>Panda Express</li>
	</ul>
      </p>
    </div>
    <div class="right light">
      <img src="/images/20th-anniversary-logo.png" alt="" />
    </div>
  </div>
</div>
