<% @title = '"Home Sweet Home" Family Fundraising Dinner' %>

<div class="content stuff cf">
  <h1><%= @title %></h1>
  <div class="split-70-30">
    <div class="left">
      <h2>Fundraiser Information</h2>
      <p>
	NCMACC will celebrate its 20th Anniversary with a special "Home Sweet Home” Family Fundraising Dinner on Saturday, November 3, 2012 at West Bay Conference Center in San Francisco, where we will honor supporters, friends and families. Please join us in this unique event.
      </p>
      <h2>Where</h2>
      <p>
	West Bay Conference Center in San Francisco
	<ul>
	  <li>1290 Fillmore Street</li>
	  <li>San Francisco, CA 94115</li>
	</ul>
      </p>
      <h2>Date & Time</h2>
      <p>
	November 3, 2012 5:00pm-9:00pm
      </p>
      <h2>Tentative Schedule of Events</h2>
      <p>
	<ul class="program-details">
	  <li>5pm to 6pm - Authentic Korean Food Tasting and Demonstration</li>
	  <li>6pm to 7pm - Opening Ceremony</li>
	  <li>7pm to 9pm - Ceremony</li>
	</ul>
      </p>
    </div>
    <div class="right light">
      <img src="/images/20th-anniversary-logo.png" alt="" />
    </div>
  </div>
</div>
