<% @title = '"Home Sweet Home" Family Fundraising Dinner' %>

<div class="content stuff cf">
  <h1></h1>
  <div id="fundraiser-column1">
    <p><h2>Fundraiser Information</h2>
      "Home Sweet Home" Family Fundraising Dinner
    </p>
  </div>
  <div id="fundraiser-column2">
    <p><h2>Where</h2>
      West Bay Conference Center in San Francisco
      <ul>
	<li>1290 Fillmore Street</li>
	<li>San Francisco, CA 94115</li>
      </ul>
    </p>
  </div>
  <div id="fundraiser-column3">
    <p><h2>Date & Time</h2>
      November 3, 2012 4:00pm-9:00pm
    </p>
  </div>
</div>
