<% @title = 'WREACH OUT Recital and Art Exhibit' %>

<div class="content stuff cf">
  <h1><%= @title %></h1>
  <div class="split-70-30">
    <div class="left">
      <h2>Event Information</h2>
      <p>
	The young artists of WREACH OUT will showcase their talents through a recital and exhibit.
      </p>
      <h2>Where</h2>
      <p>
	Northern California Music &amp; Art Culture Center
	<ul>
	  <li>3936 Geary Blvd</li>
	  <li>San Francisco, CA 94118</li>
	</ul>
      </p>
      <h2>Date & Time</h2>
      <p>
	Thursday, December 13, 2012 3:30pm-5:00pm
      </p>
    </div>
  </div>
</div>
