<%
music_programs = [["Studio Program", "studio_program"],
                  ["Chamber Music", "chamber_music"],
                  ["Children's Chorus", "childrens_chorus"]]

art_programs = [["Group Lessons", "group_lessons"]]

cultural_programs = [["Korean-American Youth Musical Group", "korean_american_youth_musical_group"],
                     ["Taekwondo", "taekwondo"]]
community_programs = [["WREACH OUT", "wreach_out"],
                      ["Fillmore Youth, Drum and Dance", "fillmore_youth_drum_and_dance"]]

programs = [["Music", music_programs],
            ["Art", art_programs],
            ["Community", community_programs],
            ["Cultural", cultural_programs]]
            
%>
<% programs.each do |name, program| %>
  <ul>
    <li><h3><%= name %></h3></li>
    <% program.each do |name, path| %>
      <li><a href="/programs/<%= path %>"><%= name %></a></li>
    <% end %>
  </ul>
<% end %>
