<% @title = "About Us" %>

<div class="content stuff">
  <h1>About NCMACC</h1>
  <p>
    Northern California Music & Art Culture Center (NCMACC) is a 20 year old, community-based cultural center, whose mission is to raise cross-cultural awareness, inspire artistic expression, and promote understanding through music and arts education. While dedicated to preservation of cultural values among Korean Americans and their youth through the development of their artistic talents and skills, the Center places a major emphasis on cross-cultural awareness providing public performance opportunities to diverse group of program participants. 
  </p>
  <h2>Mission Statement</h2>
  <p>
    Our mission is to support young musicians and artists who will continue to meet the cultural and educational needs of a diverse population.
  </p>
</div>
