<% @title = "Donate" %>

<div class="content stuff">
  <div class="split cf">
    <div class="left">
      <h1>NCMACC runs on your donations.</h1>
      <p>
	As a 501(c)3 not-for-profit organization, we rely heavily on donations from supporters like you in order to provide high-quality educational programs to the community.
      </p>
      <h2>Donations by Check</h2>
      <p>
	Checks are payable to "NCMACC" and can be mailed to:
      </p>
      <div>
	NCMACC Support<br/>
	3936 Geary Blvd.<br/>
	San Francisco, CA 94118
      </div>
      <h2>Electronic Donations</h2>
      <p>
	We are currently in the process of having this feature set up. In the meantime, please donate by check.
      </p>
    </div>
    <div class="right">
      <h2 class="first">Your Donations At Work</h2>
      <p>
	In 2011, your donations were used on the following projects:
      </p>
      <p>&nbsp;
      </p>
      <ul class="program-details">
	<li>Youth Development</li>
	<li>Studio Program</li>
	<li>Chamber Music</li>
	<li>Korean-American Youth Musical Group</li>
      </ul>
    </div>
  </div>
</div>
