<% @title = "Events" %>

<div class="content stuff">
  <h1>NCMACC Events</h1>
  <h2>Upcoming Events</h2>
  <ul>
    <li>
      <p><a href="/events/wreach_out_recital_and_art_exhibit">"Home Sweet Home" Family Fundraising Dinner</a></p>
    </li>
  </ul>
  <h2>Past Events</h2>
  <ul>
    <li>
      <p><a href="/events/home_sweet_home_family_fundraising_dinner">"Home Sweet Home" Family Fundraising Dinner</a></p>
    </li>
    <li>
      <p><a href="/events/fall_2012_studio_recital">Fall 2012 Studio Recital</a></p>
    </li>
  </ul>
</div>
