<div class="main-across">
  <div class="content">
    <p>
      San Francisco's center for cultural and creative expression.
    </p>
  </div>
</div>

<div class="content stuff">
  <h1>NCMACC is community and culture.</h1>
  <p>
    The ultimate expression.
  </p>
  <p>
    The ultimate expression.
  </p>
  <p>
    The ultimate expression.
  </p>
  <p>
    The ultimate expression.
  </p>
</div>
<div class="content stuff">
  <p>
    The ultimate expression.
  </p>
  <p>
    The ultimate expression.
  </p>
  <p>
    The ultimate expression.
  </p>
  <p>
    The ultimate expression.
  </p>
  <p>
    The ultimate expression.
  </p>
  <p>
    The ultimate expression.
  </p>
</div>
<div class="main-across">
  <div class="content">
    <p>
      Stay up to date. Follow us: 
    </p>
  </div>
</div>
