<div id="slideshow">
  <div class="content stuff">
    <div id="info-box">
      <h4>A Foundation of Creative Expression</h4>
      <p>
	Northern California Music &amp; Art Culture Center provides children and adults with educational programs in culture, music and the arts.
      </p>
    </div>
  </div>
</div>
<div class="main-across">
  <div class="content">
    Providing programs to the San Francisco Bay Area since 1992.
  </div>
</div>
<div class="content stuff">
  <h1>Northern California Music &amp; Art Culture Center</h1>
  <p>
    We hope to turn this into an awesome website.
  </p>
</div>
