<div id="slideshow">
  <div class="content stuff">
    <div id="info-box">
      <h4>A Foundation of Creative Expression</h4>
      <p>
	Northern California Music &amp; Art Culture Center provides children and adults with educational programs in culture, music and the arts.
      </p>
      <p>
	<a href="/programs">Learn More &rarr;</a>
      </p>
    </div>
  </div>
</div>
<div class="main-across">
  <div class="content">
    Providing programs to the San Francisco Bay Area since 1992.
  </div>
</div>
<div class="content stuff">
  <div class="split cf">
    <div class="left">
      <h1>Northern California Music &amp; Art Culture Center</h1>
      <p>
	Northern California Music &amp; Art Culture Center (NCMACC) is a community-based cultural center whose mission is to raise cross-cultural awareness, inspire artistic expression, and promote understanding through music and arts education. For <%= Time.now.year - 1992 %> years, we have provided high-quality educational programs to the community.
      </p>
      <p>
	<a href="/programs">Learn More &rarr;</a>
      </p>
      <div class="stuff">
	<h2>NCMACC Featured in The Western Edition</h2>
	<p>
	  The efforts of our faculty and students were praised by The Western Edition! View the article to see more.
	</p>
	<p>
	  <a href="http://www.thewesternedition.com/?c=117&a=2276" target="_blank">View Article &rarr;</a>
	</p>
      </div>
    </div>
    <div class="right">
      <h2 class="first">Stories</h2>
      <p>
	&ldquo;I'm very thankful that my mother enrolled me in the children's chorus when I was a child. I didn't end up a professional musician, but the NCMACC taught me to appreciate the art of music, and the timeless songs that we learned still inpsire and stick with me today.&rdquo;
      </p>
	<img src="http://profile.ak.fbcdn.net/hprofile-ak-ash4/186706_13700341_1227802018_n.jpg" alt="" style="width:85px; margin: 10px 10px 0 0; float: left;" />
      <p style="float: left; margin-top: 10px;">
	Paul S. Chun<br/>
	Web Developer, Ruby Specialist<br/>
	<br/>
	Children's Chorus, 1993-1995<br/>
	<a href="/programs">All Programs &rarr;</a>	
      </p>
    </div>
  </div>
</div>
