<div class="content stuff">
  <h1>Northern California Music &amp; Art Culture Center</h1>
  <p>
    The ultimate expression.
  </p>
  <p>
    The ultimate expression.
  </p>
  <p>
    The ultimate expression.
  </p>
  <p>
    The ultimate expression.
  </p>
</div>
<div class="main-across">
  <div class="content">
    <p>
      Summer music festival
    </p>
  </div>
</div>

<div class="content stuff">
  <p>
    The ultimate expression.
  </p>
  <p>
    The ultimate expression.
  </p>
  <p>
    The ultimate expression.
  </p>
  <p>
    The ultimate expression.
  </p>
  <p>
    The ultimate expression.
  </p>
  <p>
    The ultimate expression.
  </p>
</div>
<div class="main-across">
  <div class="content">
    <p>
      Summer music festival
    </p>
  </div>
</div>
