<% @title = "San Francisco Music Lessons | Piano, Voice , Guitar, Drums, Strings and more" %>
<script src="plugins/s3Slider Full/s3Slider.js" type="text/javascript"></script>
<link href="plugins/s3Slider Full/s3Slider.css" rel="stylesheet" type="text/css">
<script>
$(document).ready(function() {
    $('#s3slider').s3Slider({
        timeOut: 8000
    });
});
</script>
<div id="slideWrap">
<div id="slideshow">
<div id="s3slider">
<ul id="s3sliderContent">
            <li class="s3sliderImage">
                <a href=""><img src="/images/ncmacc-performance.jpg" alt="1" /></a>
                <span class="top">
                <h4>A Foundation of Creative Expression</h4>
				<p> Northern California Music & Art Culture Center provides children and 
				adults with educational programs in culture, music and the arts. </p>
                
                </span>
            </li>
            <li class="s3sliderImage">
                <a href="#"><img src="/images/slideshow/slide2.jpg" alt="2" /></a>
                <span class="topRight"><strong>Our Studio is located in the San Francisco Richmond District at 3936 Geary Blvd</strong></span>
            </li>
            <li class="s3sliderImage">
                <img src="/images/slideshow/slide3.jpg" alt="3" />
                <span class="bottom">
                 <p>Group classes offer students a chance to learn music theory</p>
                
                </span>
            </li>
            <li class="s3sliderImage">
                <a href="#"><img src="/images/slideshow/slide4.jpg" alt="4" /></a>
                <span class="bottom">
                <p>NCMACC has been a centerpiece of the Richmond District's Art history for the past 23 Years!</p>
                </span>
            </li>
            <li class="s3sliderImage">
                <a href="/programs/studio_program" ><img src="/images/slideshow/slide5.jpg" alt="5" /></a>
                <span class="bottom">
                <p>Learn more about our flagship program featuring award winning teachers!</p>
                </span>
                
            </li>
            <div class="clear s3sliderImage"></div>
        </ul></div>


		
</div>
</div>

  
  
  

<div class="main-across">
  <div class="content">
    Providing programs to the San Francisco Bay Area since 1992.
  </div>
</div>
<div class="content stuff">
  <div class="split cf">
  
  
     <div class="mainInfo  left " style="padding:5px;">
      <h1>Northern California Music &amp; Art Culture Center</h1>
      <p>
	Northern California Music &amp; Art Culture Center (NCMACC) is a community-based cultural center whose mission is to raise cross-cultural awareness, inspire artistic expression, and promote understanding through music and arts education. For 22 years, we have provided high-quality educational programs to the community.
	We offer private music lessons in various instruments, as well as group music, and art courses. See our current programs below!
      </p>
      <p>
	<a href="/programs">Learn More &rarr;</a>
      </p>
   
    </div>
    <div class="right">
      <h2 class="first">News</h2>
      <p style="padding-bottom:30px;">
	NCMACC just got brand new studio rooms redone. The all rooms are spacious, and equiped with their own pianos. Also check out our new events page to see our callendar and upcoming event schedule.
      </br></br>
      Click pictures to enlarge!
      </p>
	<a class="fancybox" href="/images/new_studio_rooms.JPG" data-fancybox-group="gallery" title="New music studios" ><img class="galleryThumbs" src="/images/new_studio_rooms.JPG" alt="private piano lessons at NCMACC" style="width100px;height:100px;float:left;padding-right:20px;"/></a>
      
    
    </div>
  
  
  
  <div class="clear"></div>
    	<div class="mainPageHeaders">
      <h1>Private Music Lessons </h1>
      <p>
	NCMACC flagship music program features 1 on 1 instructors for students of all ages. Our teaching times are very flexible. Click
	learn more to find information on rates and booking, or to speak with an instructor if you have further questions. Our current private lessons
	programs are featured below:
      </p>
      <p>
	<a href="/programs/studio_program">Learn More &rarr;</a>
      </p>
      </div>
      
		<div class="splitHalfLeft">
			<div class="lessonDescription">
				<h2> Voice Lessons </h2>
				
				<a href="classes/voice"><img src="/images/voice_lessons.png" alt="Voice Lessons at NCMACC" /></a>
				<p> From basic, to advanced singers. Learn breathing, pitch accuracy, tone, sight reading, and more.
				</p>
				<a href="classes/voice">Voice Studio &rarr;</a>
			</div>
		
		</div>
      
   
   
		<div class="splitHalfRight">
			<div class="lessonDescription">
				<h2> Piano Lessons </h2>
				
				<a href="classes/piano"><img src="/images/piano_lessons.png" alt="piano lessons at NCMACC" /></a>
				<p> Piano is one of the most important instruments in Western music. Piano is a great instrument to learn 
				the basics of music, including sight reading, note names, chords, and more!
				</p>
				<a href="classes/piano">Piano Studio &rarr;</a>
			</div>
		
				
		
			
		</div>
		
		
		
		<div class="clear:both;"></div>
		
		
		<div class="splitHalfLeft">
			<div class="lessonDescription">
				<h2> Violin Lessons </h2>
				
				<a href="classes/violin"><img src="/images/violin_lessons.png" alt="Violin lessons at NCMACC" /></a>
				<p> Violin is the highest instrument of the bowed string family.  </p>
				<a href="classes/violin">Violin Studio &rarr;</a>
			</div>
		
		</div>
      
   
   
		<div class="splitHalfRight">
			<div class="lessonDescription">
				<h2> Drums & Percussion Lessons </h2>
				
				<a href="classes/drums"><img src="/images/drums_percussion.png" alt="drums and percussion lessons at NCMACC" /></a>
				<p> Interested in learning how to play the drums? Learn everything from basic stick technique, to syncopation and jazz patterns.
				</p>
				<a href="classes/drums">Drums Studio &rarr;</a>
			</div>
		
				
		
			
		</div>
		
		
		
		<div class="clear:both;"></div>		
		
		
		
		<div class="splitHalfLeft">
			<div class="lessonDescription">
				<h2> Cello Lessons </h2>
				
				<a href="classes/cello"><img src="/images/cello_lessons.png" alt="Cello lessons at NCMACC" /></a>
				<p> The cello is the 3rd lowest of the bowed string instruments family. The cello can be a solo, or ensemble instrument. 
				Our instructors will show you proper technique, tone and reading skills to advance as a performer.
				</p>
				<a href="classes/cello">Cello Studio &rarr;</a>
			</div>
		
		</div>
      
   
   
		<div class="splitHalfRight">
			<div class="lessonDescription">
				<h2> Guitar Lessons </h2>
				
				<a href="classes/guitar"><img src="/images/guitar_lessons.png" alt="Guitar lessons at NCMACC" /></a>
				<p> Acoustic, or electric players are welcome. Learn
				</p>
				<a href="classes/guitar">Guitar Studio &rarr;</a>
			</div>
		
				
		
			
		</div>
		
		
		
		<div class="clear"></div>	
		
		
		
		<div class="splitHalfLeft">
			<div class="lessonDescription">
				<h2> Saxophone Lessons </h2>
				
				<a href="classes/saxophone"><img src="/images/saxophone_lessons.png" alt="Cello lessons at NCMACC" /></a>
				<p> The cello is the 3rd lowest of the bowed string instruments family. The cello can be a solo, or ensemble instrument. 
				Our instructors will show you proper technique, tone and reading skills to advance as a performer.
				</p>
				<a href="classes/cello">Saxophone Studio &rarr;</a>
			</div>
		
		</div>
      
   
   
		<div class="splitHalfRight">
			<div class="lessonDescription">
				<h2> Clarinet Lessons </h2>
				
				<a href="classes/clarinet"><img src="/images/clarinet_lessons.png" alt="Guitar lessons at NCMACC" /></a>
				<p> Acoustic, or electric players are welcome. Learn
				</p>
				<a href="classes/saxophone">Clarinet Studio &rarr;</a>
			</div>
		
				
		
			
		</div>
		
		
		
		<div class="clear"></div>	
		
		
		

		<div class="mainPageHeaders">
		<h1>Ensembles and Groups</h1>
      <p>
	Ensembles at NCMACC offer students a chance to put their skills to work in a conducted group setting.
      </p>
      <p>
	<a href="/programs">Learn More &rarr;</a>
      </p>
      </div>
      
		<div class="splitHalfLeft">
			<div class="lessonDescription">
				<h2> Chamber Orchestra </h2>
				
				<a href="/programs/chamber_music"><img src="/images/chamber_music.png" alt="chamber music ensemble"/></a>
				<p> Audition to play in the NCMACC chamber orchestra. Chamber Orchestra is open to intermediete string players.
				
				 </p>
				<a href="/programs/chamber_music">Chamber Music &rarr;</a>
			</div>
		
		</div>
      
   
   
<!--		<div class="splitHalfRight">
			<div class="lessonDescription">
				<h2> Early Childhood Music </h2>
				
				<a href="/programs/early_childhood_music_class"><img src="/images/early_childhood_music.png" /></a>
				<p> Early childhood music is open to young children willing to get their first lessons in music! The group setting
				makes it fun and inviting to learn with musical activities.</p>
				<a href="/programs/early_childhood_music_class">Piano Studio &rarr;</a>
			</div>
		</div>
-->		
		
		<div class="clear"></div>
		
		
		
		<div class="mainPageHeaders">
		<h1>Community</h1>
      <p>
	These community funded programs are offered free to students. Some registration fees may apply. Have fun learning music and
	arts in a group setting!
      </p>
      <p>
	<a href="/programs">Learn More &rarr;</a>
      </p>
      </div>
      
		<div class="splitHalfLeft">
			<div class="lessonDescription">
				<h2> Children's Chorus </h2>
				
				<a href="/programs/childrens_chorus"><img src="/images/childrens_chorus.png" alt="Children's Chorus"/></a>
				<p> Have fun, and make new friends making music! </p>
				<a href="/programs/childrens_chorus">Children's Chorus &rarr;</a>
			</div>
		
		</div>
      
   
   
		<div class="splitHalfRight">
			<div class="lessonDescription">
				<h2> Group Art Lessons </h2>
				
				<a href="/programs/group_art_lessons"><img src="/images/group_art.jpg" /></a>
				<p> Group art lessons are a way for children to express their creativity in a kid friendly community setting. </p>
				<a href="/programs/group_art_lessons">Piano Studio &rarr;</a>
			</div>
		</div>
		<div class="clear:both;"></div>	
		
		
		
		<div class="splitHalfLeft">
			<div class="lessonDescription">
				<h2> Taekwondo </h2>
				
				<a href="/programs/taekwondo"><img src="/images/taekwondo_thumb.jpg" alt="Cello lessons at NCMACC" /></a>
				<p> Taekwondo is also offered tuition free thanks to the WREACH OUT program.</p>
				<a href="/programs/taekwondo">Cello Studio &rarr;</a>
			</div>
		
		</div>
      
   
   
		<div class="splitHalfRight">
			<div class="lessonDescription">
				<h2> Group Piano Lessons </h2>
				
				<a href="/programs/group_piano_lessons"><img src="/images/piano_group_lessons.jpg" alt="Guitar lessons at NCMACC" /></a>
				<p> Group piano lessons are offered free of charge to students. Learn how to read songs of increasing difficulty
				while having fun in a group enviroment. No previous music experience necessary. </p>
				<a href="/programs/group_piano_lessons">Group Piano Lessons &rarr;</a>
			</div>
		
				
		
			
		</div>
		
		
		
		<div class="clear:both;"></div>	
		
  
  </div>
</div>
