<div class="main-across">
  <div class="content">
    <p>
      Fostering community through music and art.
    </p>
  </div>
</div>
<div class="content stuff">
  
  <h1></h1>
  <p>
    The ultimate expression.
  </p>
</div>
<div class="main-across">
  <div class="content">
    <p>
      Stay up to date. Follow us: 
    </p>
  </div>
</div>

