<div class="content stuff">
  <h1>Job Openings</h1>
  <h2>Piano Instructors</h2>
  <p> Requirements:<br>
    <ul>
      <li>M.A. in Music or M.A. in Fine Arts (with Music Major)</li>
      <li>Minimum 2 years of teaching experience</li>
      <li>Excellent communication skills</li>
      <li>Solid understanding of music theory and technique</li></ul>
    <br>
    <br> Duties: <br>
    <ul>
      <li>Teach lessons to individuals and groups of students ages 4-17</li>
      <li>Communicate to parents; prepare curriculum for group and private lessons</li>
      <li>Plan and conduct rehearsals for public performances</li>
  </p>
  <br>
  <h2>Violin Instructors</h2>
  <p> Requirements:<BR/>
    <ul>
      <li>M.A. in Music or M.A. in Fine Arts (with Music Major)</li>
      <li>Minimum 2 years of teaching experience</li>
      <li>Excellent communication skills</li>
      <li>Solid understanding of music theory and technique</li></ul>
    <br>
    <br> Duties: <br>
    <ul>
      <li>Teach lessons to individuals and groups of students ages 4-17</li>
      <li>Communicate to parents; prepare curriculum for group and private lessons</li>
      <li>Plan and conduct rehearsals for public performances</li></ul>
  </p>
  <br>
  <p>If interested, please send your resume and cover letter to ncmacc@ncmacc.org!
  </p>
</div>
