<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%= @title || "NCMACC" %></title>
    <link href="http://fonts.googleapis.com/css?family=Actor" rel="stylesheet" type="text/css">
    <link href="/css/reset.css" rel="stylesheet" type="text/css">
    <link href="/css/main.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="header">
      <div class="content">
	<img src="/images/logo.png" alt="" style="width: 200px" />
	<ul id="top-navigation">
	  <li>
	    <a style="" href="#">About Us</a>
	  </li>
	  <li>
	    <a style="background-color: orange;" href="#">Programs</a>
	  </li>
	  <li>
	    <a style="background-color: green;" href="#">Events</a>
	  </li>
	  <li>
	    <a style="background-color: blue;" href="#">Registration</a>
	  </li>
	  <li>
	    <a style="background-color: purple;" href="#">Support</a>
	  </li>
	</ul>
      </div>
    </div>
    <div class="main">
      <%= yield %>
    </div>
    <div class="footer">
      <div class="content stuff">
	[Footer]
      </div>
    </div>
  </body>
</html>
