<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%= @title || "NCMACC" %></title>
    <link href="http://fonts.googleapis.com/css?family=Actor" rel="stylesheet" type="text/css">
    <link href="/css/reset.css" rel="stylesheet" type="text/css">
    <link href="/css/main.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="header">
      <div class="content">
	<a href="/"><img src="/images/logo.png" alt="" style="width: 150px" /></a>
	<ul id="top-navigation">
	  <li>
	    <a id="about-link" style="" href="#">About Us</a>
	  </li>
	  <li>
	    <a id="programs-link" href="#">Programs</a>
	  </li>
	  <li>
	    <a id="events-link" href="#">Events</a>
	  </li>
	  <li>
	    <a id="registration-link" href="#">Registration</a>
	  </li>
	  <li>
	    <a id="donate-link" href="#">Donate</a>
	  </li>
	</ul>
      </div>
    </div>
    <div class="main">
      <%= yield %>
    </div>
    <div class="footer">
      <div class="content stuff">
	[Footer]
      </div>
    </div>
  </body>
</html>
