<% @title = "Our Programs" %>

<div class="content stuff">
  <h1><%= @title %></h1>
  <p>
    Our organization's core mission is to provide educational programs in music and art to our community. We currently offer the following programs:
  </p>
</div>
<div class="content stuff">
  <ul class="cf">
    <li class="program-column">
      <h2 class="first">Community</h2>
      <div class="description community">
	<p>Free educational programs for youths of San Francisco.</p>
      </div>
      <ul class="program-listing">
	<li class="cf">
	  <div class="thumbnail">
	    <a href="/programs/childrens_chorus"><img src="/images/program-thumbs/childrens-chorus.jpg" alt="" /></a>
	  </div>
	  <div class="description">
	    <h3><a href="/programs/childrens_chorus">Children's Chorus</a></h3>
	    <p>
	      Free group voice lessons and performances for San Francisco youths.
	    </p>
	  </div>
	</li>
	<li class="cf">
	  <div class="thumbnail">
	    <a href="/programs/group_art_lessons"><img src="/images/program-thumbs/group-art-lessons.jpg" alt="" /></a>
	  </div>
	  <div class="description">
	    <h3><a href="/programs/group_art_lessons">Group Art Lessons</a></h3>
	    <p>
	      Free group art lessons for San Francisco youths.
	    </p>
	  </div>
	</li>
	<li class="cf">
	  <div class="thumbnail">
	    <a href="/programs/group_piano_lessons"><img src="/images/program-thumbs/group-piano-lessons.jpg" alt="" /></a>
	  </div>
	  <div class="description">
	    <h3><a href="/programs/group_piano_lessons">Group Piano Lessons</a></h3>
	    <p>
	      Free group piano lessons and recitals for San Francisco youths.
	    </p>
	  </div>
	</li>
	<li class="cf">
	  <div class="thumbnail">
	    <a href="/programs/taekwondo"><img src="/images/program-thumbs/taekwondo.jpg" alt="" /></a>
	  </div>
	  <div class="description">
	    <h3><a href="/programs/taekwondo">Taekwondo</a></h3>
	    <p>
	      Free group taekwondo lessons for San Francisco youths.
	    </p>
	  </div>
	</li>
	<li class="last cf">
	  <div class="thumbnail">
	    <a href="/programs/youth_development"><img src="/images/program-thumbs/youth-development.jpg" alt="" /></a>
	  </div>
	  <div class="description">
	    <h3><a href="/programs/youth_development">Youth Development</a></h3>
	    <p>
	      Free leadership and skills development program for San Francisco youths.
	    </p>
	  </div>
	</li>
      </ul>
    </li>
    <li class="program-column">
      <h2 class="first">Music</h2>
      <div class="description music">
	<p>Lessons and courses for both adults and children of all skill levels.</p>
      </div>
      <ul class="program-listing">
	<li class="cf">
	  <div class="thumbnail">
	    <a href="/programs/studio_program"><img src="/images/program-thumbs/studio-program.jpg" alt="" /></a>
	  </div>
	  <div class="description">
	    <h3><a href="/programs/studio_program">Studio Program</a></h3>
	    <p>
	      Individualized lessons with award-winning instructors.
	    </p>
	  </div>
	</li>
	<li class="last cf">
	  <div class="thumbnail">
	    <a href="/programs/chamber_music"><img src="/images/program-thumbs/chamber-music.jpg" alt="" /></a>
	  </div>
	  <div class="description">
	    <h3><a href="/programs/chamber_music">Chamber Music</a></h3>
	    <p>
	      Ensemble of youth classical music performers.
	    </p>
	  </div>
	</li>
      </ul>
    </li>
    <li class="program-column last">
      <h2 class="first">Performing Arts</h2>
      <div class="description performing-arts">
	<p>Programs to develop students' abilities and increase knowledge in the performing arts.</p>
      </div>
      <ul class="program-listing">
	<li class="last">
	  <div class="thumbnail">
	    <a href="/programs/korean_american_youth_musical_group"><img src="/images/program-thumbs/kaymg.jpg" alt="" /></a>
	  </div>
	  <div class="description">
	    <h3><a href="/programs/korean_american_youth_musical_group">Korean-American Youth Musical Group</a></h3>
	    <p>
	      Youth performing arts group specializing in Korean traditional performances.
	    </p>
	  </div>
	</li>
      </ul>
    </li>
  </ul>
</div>
