<% @title = "Registration" %>
<% @description = "Register here for music lessons at Northern California Art & Music Culture Center"%>
<div class="content stuff">
  <div class="left copy">
    <h1><%= @title %></h1>
    <p>
      To register a student for an NCMACC program, please refer to the following forms:
    </p>
    <h2>Wreach Out Application</h2>
    <div class="registration-link cf">
      <a href="/application-files/Wreach-Out-Application.pdf">Wreach-Out-Application.pdf</a>
    </div>
    <h2>2014 Summer Music Camp Application</h2>
    <div class="registration-link cf">
      <a href="/application-files/2014_Summer_Music_Camp_Registration Form.pdf">2014-Summer-Music-Camp-Application.pdf</a>
    </div>
    <h2>Application for Other Programs</h2>
    <div class="registration-link cf">
      <a href="/application-files/Studio-Application.pdf">Studio-Application.pdf</a>
    </div>
  </div>
</div>
