<% @title = "Registration" %>

<div class="content stuff">
  <div class="split-70-30 cf">
    <div class="left copy">
      <h1><%= @title = "Registratoin" %></h1>
	  <p>Wreach Out Programs</p>
		<a href="/application-files/Wreach-Out-Application.pdf">Wreach-Out-Application.pdf</a>
<br>
	  <p> Studio Programs</p>
	      <a href="/application-files/Studio-Application.pdf">Studio-Application.pdf</a>
    </div>
    
  </div>
  
</div>
