body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #CCF;
    font-size: 12pt;
}

.main {
    background-color: #77A;
    color: #DDF;
}

.main a {
    color: #AAF;
}

#slideshow {
    background-image: url("/images/ncmacc-performance.jpg");
    height: 360px;
    width: 100%;
    min-width: 960px;
    background-position: bottom;
    background-size: 100%;
}

#info-box {
    background-color: rgba(0,0,0,0.85);
    width: 440px;
    border: 3px solid #99C;
    margin: 180px 0 0 -10px;
    padding: 10px;
    height: 128px;
}

#info-box h4 {
    color: #FFF;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.content h1, .content h2 {
    color: #114;
    font-weight: bold;
    font-size: 1.25em;
    margin-bottom: 10px;
}

.main p {
    line-height: 1.5em;
}

.header {
    padding: 10px 0 10px 0;
    background: #CCF;
}

.content {
    margin: 0 auto;
    width: 960px;
    position: relative;
}

.stuff {
    padding: 10px 0;
}

#top-navigation li.item {
    float: left;
}

#top-navigation {
    position: absolute;
    right: 0;
    bottom: -10px;
}

#top-navigation .item a.top-link {
    margin: 0 0 5px 15px;
    color: #449;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 10px;
}

#top-navigation a.top-link:hover, #top-navigation a.top-link.selected { color: #FFF; }
a.top-link#about-link.selected { background-color: #E66; border-bottom-left-radius: 0; border-bottom-right-radius: 0; }
a.top-link#programs-link.selected { background-color: #EA3; border-bottom-left-radius: 0; border-bottom-right-radius: 0; }
#events-link:hover { background-color: #494; }
#registration-link:hover { background-color: #66C; }
#donate-link:hover { background-color: #B3F; }

.main-across {
    background-color: #99C;
    padding: 10px 0;
    color: #DDF;
}

#large-icons li {
    float: left;
    width: 240px;
    text-align: center;
}

#large-icons a {
    color: #114;
    text-decoration: none;
}

.connected-text {
    margin-top: 8px;
    float: left;
    margin-left: 690px;
}

.footer {
    line-height: 1.5em;
    font-size: 10pt;
    color: #449;
}
.footer a {
    text-decoration: none;
    color: #77A;
}
.footer ul h3 a {
    color: #449;
}
.footer h3 {
    font-weight: bold;
    color: #449;
}

.footer ul {
    display: block;
    min-height: 100px;
    float: left;
    vertical-align: top;
}

.footer .programs {
    float: left;
}

.footer .programs ul {
    width: 146px;
    margin-right: 10px;
}

.footer .first {
    width: 120px;
}

.footer .networks {
    width: 60px;
    margin-right: 10px;
}

.footer .last {
    float: left;
    font-size: 8pt;
    width: 290px;
    text-align: right;
}

.split .left {
    width: 530px;
    padding: 10px 10px 10px 0;
    margin-right: 10px;
    float: left;
}

.split .right {
    width: 390px;
    padding: 10px;
    background-color: #558;
    float: left;
}

.split .right p {
    font-size: 0.8em;
}

#about-dropdown, #programs-dropdown {
    background-color: #EA3;
    z-index: 2;
    position: absolute;
    top: 36px;
    left: -100px;
    padding: 10px;
    width: 700px;
    color: #333;
    font-size: 10pt;
    border-radius: 10px;
    display: none;
}

#about-dropdown {
    left: 0;
    background-color: #E66;
    width: 150px;
}

#about-dropdown h3, #programs-dropdown h3 {
    font-weight: bold;
    color: #FFF;
}

#about-dropdown h4, #programs-dropdown h4 {
    font-style: italic;
    color: #FF7;
    margin-bottom: 10px;
}



#about-dropdown a, #programs-dropdown a {
    color: #FFF;
    text-decoration: none;
}

#about-dropdown a:hover, #programs-dropdown a:hover {
    text-decoration: underline;
}

#programs-dropdown ul {
    float: left;
    min-height: 80px;
}

#programs-dropdown .music {
    width: 25%;
}
#programs-dropdown .performing-arts {
    width: 40%;
}
#programs-dropdown .wreach-out {
    width: 35%;
}

#about-dropdown ul li, #programs-dropdown ul li {
    margin-bottom: 5px;
}

.content h2 {
    margin-top: 20px;
    color: #447;
}

/*--- Anna event work */
a.top-link#events-link.selected { background-color: #494; border-bottom-left-radius: 0; border-bottom-right-radius: 0; }

#event-dropdown{
    background-color: #494;
    z-index: 2;
    position: absolute;
    top: 36px;
    left: -100px;
    padding: 10px;
    width: 700px;
    color: #333;
    font-size: 10pt;
    border-radius: 10px;
    display: none;
}

#event-dropdown {
    left: 200px;
    background-color: #494;
    width: 150px;
}

#event-dropdown h3 {
    font-weight: bold;
    color: #FFF;
}

#event-dropdown h4 {
    font-style: italic;
    color: #FF7;
    margin-bottom: 10px;
}


#event-dropdown a {
    color: #FFF;
    text-decoration: none;
}

#event-dropdown a:hover {
    text-decoration: underline;
}