body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #CCF;
    font-size: 12pt;

  
}

#logo{
top:-10px;
left:60px;
position:absolute;
width:250px;

}


.main {
    background-color: #77A;
    color: #DDF; 
       background-image:url("/images/pattern.png");
}

.main a {
    color: #AAF;
}

#slideshow {
    /*background-image: url("/images/ncmacc-performance.jpg");*/
    height: 360px;
    width:960px;
    min-width: 960px;
    background-position: bottom;
    background-size: 100%;
    margin: 0 auto;
}

#slideWrap{
    background-color: #77A;
   /* background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #9999CC),
	color-stop(1, #7777AA)
);
background-image: -o-linear-gradient(bottom, #9999CC 0%, #7777AA 100%);
background-image: -moz-linear-gradient(bottom, #9999CC 0%, #7777AA 100%);
background-image: -webkit-linear-gradient(bottom, #9999CC 0%, #7777AA 100%);
background-image: -ms-linear-gradient(bottom, #9999CC 0%, #7777AA 100%);
background-image: linear-gradient(to bottom, #9999CC 0%, #7777AA 100%);*/
}

#info-box {
    background-color: rgba(0,0,0,0.85);
    width: 440px;
    border: 3px solid #99C;
    margin: 180px 0 0 -10px;
    padding: 10px;
    height: 128px;
}

#info-box h4 {
    color: #FFF;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.content h1, .content h2 {
    color: #114;
    font-weight: bold;
    font-size: 1.25em;
    margin-bottom: 10px;
}

.main p {
    line-height: 1.5em;
}

.header {
    padding: 10px 0 10px 0;
    background: #CCF;
    height:96px;
}

.content {
    margin: 0 auto;
    width: 960px;
    position: relative;
}

.stuff {
    padding: 10px 0;
}

#top-navigation li.item {
    float: left;
}

#top-navigation {
    position: absolute;
    right: 0;
    bottom: -100px;
}

#top-navigation .item a.top-link {
    margin: 0 0 5px 15px;
    color: #449;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 10px;
}

#top-navigation a.top-link:hover, #top-navigation a.top-link.selected { color: #FFF; }
a.top-link#about-link.selected { background-color: #E66; border-bottom-left-radius: 0; border-bottom-right-radius: 0; }
a.top-link#programs-link.selected { background-color: #EA3; border-bottom-left-radius: 0; border-bottom-right-radius: 0; }
#events-link:hover { background-color: #494; }
#registration-link:hover { background-color: #66C; }
#donate-link:hover { background-color: #B3F; }

.main-across {
    background-color: #99C;
    padding: 10px 0;
    color: #DDF;
    height:16px;

}



.icon{
width:30px;
height:30px;
float:left;
margin-right:20px;
margin-left:20px;
margin-top:auto;
margin-bottom:auto;
}

#location{
height:30px;
line-height:30px;
position:absolute;
right:0;
top:35px;
width:200px;
}
#topContact{
height:30px;
line-height:30px;
position:absolute;
top:10px;
right:0;
}
#topContact p{
float:left;
}
#large-icons li {
    float: left;
    width: 240px;
    text-align: center;
}

#large-icons a {
    color: #114;
    text-decoration: none;
}

.connected-text {
   /* margin-top: 8px;*/
    float: left;
    margin-left: 690px;
}

.footer {
    line-height: 1.5em;
    font-size: 10pt;
    color: #449;
}
.footer a {
    text-decoration: none;
    color: #77A;
}
.footer ul h3 a {
    color: #449;
}
.footer h3 {
    font-weight: bold;
    color: #449;
}

.footer ul {
    display: block;
    min-height: 100px;
    float: left;
    vertical-align: top;
}

.footer .programs {
    float: left;
}

.footer .programs ul {
    width: 146px;
    margin-right: 10px;
}

.footer .first {
    width: 120px;
}

.footer .networks {
    width: 60px;
    margin-right: 10px;
}

.footer .last {
    float: left;
    font-size: 8pt;
    width: 290px;
    text-align: right;
}

.split .left {
    width: 530px;
    padding: 10px 10px 10px 0;
    margin-right: 10px;
    float: left;
}

.split .right {
    width: 390px;
    padding: 10px;
    background-color: #558;
    float: left;
}

.split .right p {
    font-size: 0.8em;
}

#about-dropdown, #programs-dropdown {
    background-color: #EA3;
    z-index: 2;
    position: absolute;
    top: 36px;
    left: -220px;
    padding: 10px;
    width: 700px;
    color: #333;
    font-size: 10pt;
    border-radius: 10px;
    display: none;
}

#about-dropdown {
    left: 0;
    background-color: #E66;
    width: 150px;
}

#about-dropdown h3, #programs-dropdown h3 {
    font-weight: bold;
    color: #FFF;
}

#about-dropdown h4, #programs-dropdown h4 {
    font-style: italic;
    color: #FF7;
    margin-bottom: 10px;
}



#about-dropdown a, #programs-dropdown a {
    color: #FFF;
    text-decoration: none;
}

#about-dropdown a:hover, #programs-dropdown a:hover {
    text-decoration: underline;
}

#programs-dropdown ul {
    float: left;
    min-height: 80px;
}

#programs-dropdown .music {
    width: 25%;
}
#programs-dropdown .performing-arts {
    width: 40%;
}
#programs-dropdown .community {
    width: 35%;
}

#about-dropdown ul li, #programs-dropdown ul li {
    margin-bottom: 5px;
}

.content h2 {
    margin-top: 20px;
    color: #336;
    font-size: 1.15em;
}

h2.first {
    margin-top: 0;
}


.split-70-30 .left {
    width: 700px;
    float: left;
}

.split-70-30 .right {
    width: 230px;
    float: left;
    background-color: #558;
    padding: 10px;
    margin-left: 10px;
}

.split-70-30 .right.light {
    background-color: #CCF;
}

.split-70-30 .right img {
    max-width: 230px;
}


.splitHalfLeft{
padding: 10px;
float: left;
width:460px;
}

.splitHalfRight{
width:460px;
float:right;
padding: 10px;

}
#tagLine{
width:400px;
float:right;
}
.mainPageHeaders{
clear:both;
padding:10px;
margin-top:50px;
margin-bottom:10px;
border:5px solid #333366;
border-radius:10px;
background-color: #9999CC;
}

.mainPageHeaders a{
color: #111144;
}
.serviceType{

}
.lessonDescription {
padding:10px;
height:200px;
background-color:rgba(51, 51, 102, .5);
border-radius:7px;

}
.lessonDescription img{
float:left;
padding-right:20px;
}
.lessonDescription p{
font-size:85%;
}



.lessonDescription h2{
font-size:30px;
margin-top:3px;
}
.copy p {
    margin-bottom: 10px;
}

ul.program-details li {
    list-style-type: square;
    margin: 0 0 10px 20px;
    font-size: 0.8em;
}

.registration-link {
}

.registration-link a {
    float: left;
    background-color: #99C;
    border-radius: 10px;
    padding: 15px 10px 15px 48px;
    background-image: url("/images/icons/pdf-sm.png");
    background-repeat: no-repeat;
    background-position: 7px 7px;
    margin: 10px 0;
}

.registration-link a { color: #FFF; margin-right: 5px; }

li.person {
    float: left;
    width: 480px;
    height: 7em;
}

.person .portrait {
    padding: 0 10px 0 0;
    height: 90px;
    width: 90px;
    float: left;
}

.person .portrait img {
    width: 90px;
}

.person .biography {
    font-size: 11pt;
}
.person .biography h3 {
    color: #FFF;
}

.person .biography h3, .person .biography h4, .person .biography p {
    line-height: 1em;
    margin-bottom: 0.5em;
}

.person .biography p {
    font-size: 9pt;
    line-height: 1.5em;
}

/*--- Anna event work */
a.top-link#event-link.selected { background-color: #494; border-bottom-left-radius: 0; border-bottom-right-radius: 0; }

#event-dropdown{
    background-color: #494;
    z-index: 2;
    position: absolute;
    top: 36px;
    left: -100px;
    padding: 10px;
    width: 700px;
    color: #333;
    font-size: 10pt;
    border-radius: 10px;
    display: none;
}

#event-dropdown {
    left: 0;
    background-color: #494;
    width: 350px;
}

#event-dropdown h3 {
    font-weight: bold;
    color: #FFF;
}

#event-dropdown h4 {
    font-style: italic;
    color: #FF7;
    margin-bottom: 10px;
}

#event-dropdown a {
    color: #FFF;
    text-decoration: none;
}

#event-dropdown a:hover {
    text-decoration: underline;
}

#event-dropdown ul {
    float: left;
    min-height: 80px;
}

#event-dropdown .recital {
    width: 50%;
}

#event-dropdown .fundraiser {
    width: 100%;
}

#event-dropdown ul li {
    margin-bottom: 5px;
}

#recital-column1, #fundraiser-column1 {
    float:left;
    width: 33%;
}

#recital-column2, #fundraiser-column2 {
    float:left;
    width: 33%;
}

#recital-column3, #fundraiser-column3 {
    float:left;
    width: 33%;
}

.program-column {
    float: left;
    width: 475px;
    padding: 10px 0;
}

.program-column.first {
    margin: 0 10px 0 0;
}
.program-column.last {
    margin: 30px 0 0 0;
}

.program-listing li {
    margin-top: 10px;
    line-height: 1em;
    margin-bottom: 1em;
}

.program-listing .thumbnail {
    float: left;
    margin-right: 10px;
    height: 90px;
    width: 90px;
}

.program-listing .description {
    float: left;
    width: 350px;
}

.description p {
    font-size: 0.8em;
}

.program-listing li.last {
    margin-bottom: 0;
}

.program-listing li h3 {
    font-size: 1em;
    margin-bottom: 0.5em;
}

.program-listing li h3 a {
    text-decoration: none;
    color: #FFF;
}

.question {
    line-height: 1.25em;
    color: #FFF;
}

.answer {
    line-height: 1.25em;
    margin: 0 0 1.25em 0;
}

.teachersPics{
float:left;
margin-right:20px;

}

.teachers{
margin-top:40px;
border-radius:10px;
}

.classPics{
border:5px solid #555588;
border-radius:5px;
margin-bottom:20px;
}

.mainInfo{
margin-right:0px;
background-color: #555588;
padding:10px;
}


#social-toolbar{
font-size:1px;
float:right;
height:36px;	
overflow:hidden;
}

#___plusone_0{
vertical-align:middle;
}