body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #CCF;
}

.main {
    background-color: #77A;
    color: #DDF;
}

#slideshow {
    background-image: url("/images/ncmacc-performance.jpg");
    height: 360px;
    width: 100%;
    min-width: 960px;
    background-position: bottom;
    background-size: 100%;
}

#info-box {
    background-color: rgba(0,0,0,0.75);
    width: 440px;
    border: 3px solid #99C;
    margin: 10px 0 0 490px;
    padding: 10px;
    height: 106px;
}

#info-box h4 {
    color: #FFF;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.main h1, .main h2 {
    color: #114;
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.main p {
    line-height: 1.5em;
}

.header {
    padding: 10px 0 10px 0;
    background: #CCF;
}

.content {
    margin: 0 auto;
    width: 960px;
    position: relative;
}

.stuff {
    padding: 10px 0;
}

#top-navigation li {
    float: left;
}

#top-navigation {
    position: absolute;
    right: 0;
    bottom: -10px;
}

#top-navigation a {
    margin: 0 0 5px 15px;
    color: #449;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 10px;
}

#top-navigation a:hover { color: #FFF; }
#about-link:hover { background-color: #E66; }
#programs-link:hover { background-color: #EA3; }
#events-link:hover { background-color: #494; }
#registration-link:hover { background-color: #66C; }
#donate-link:hover { background-color: #B3F; }

.main-across {
    background-color: #99C;
    padding: 10px 0;
    color: #DDF;
}

.footer {
    line-height: 1.5em;
    font-size: 10pt;
    color: #449;
}
.footer a {
    text-decoration: none;
    color: #77A;
}
.footer ul h3 a {
    color: #449;
}
.footer h3 {
    font-weight: bold;
    color: #449;
}

.footer ul {
    display: block;
    min-height: 100px;
    float: left;
    vertical-align: top;
}

.footer .programs {
    float: left;
}

.footer .programs ul {
    width: 110px;
    margin-right: 10px;
}

.footer .first {
    width: 120px;
}

.footer .networks {
    width: 60px;
    margin-right: 10px;
}

.footer .last {
    float: left;
    font-size: 8pt;
    width: 290px;
    text-align: right;
}
