<% @title = "Early Childhood Music Class" %>

<div class="content stuff">
  <div class="split cf">
    <div class="left copy cf">
      <h1><%= @title %></h1>
      <p>
	
      </p>
      <p>
	These lively group classes are ideal for children ages 0-4 years with caregiver participation.
      </p>
      <p>
	Infants and toddlers will have the opportunity to exercise pitch and tempo discrimination, rhythmic awareness, and vocal development in a fun-filled environment.
      </p>
      <p>
	Prepare your child for future success in music with this play-based music class including song, rhymes, and creative movement with exposure to classical music by composers such as Tchaikovsky, Brahms and Mozart.
      </p>
      <h2 class="first">Details</h2>
      <ul class="program-details">
	<li>
	  Registration Fee: Free
	</li>
	<li>
	  Tuition: $100, $60 for a second child
	</li>
	<li>
	  Summer Session: July 15 - August 9, Every Tuesday from 10-10:45am
	</li>
	<li>
	  Fall Session: September 9 - October 14, Every Tuesday from 10-10:45am
	</li>
      </ul>
      <h2>Registration Information</h2>
      <p>
	For information on registration, please <a href="/about/contact_us">contact us directly</a>.
      </p>
    </div>
    <div class="right">
      <img src="/images/early-childhood-music-class.jpg" alt="" />
    </div>
  </div>
</div>
