<% @title = "Group Art Lessons" %>

<div class="content stuff">
  <div class="split-70-30 cf">
    <div class="left copy">
      <h1><%= @title = "Group Art Lessons" %></h1>
      <p>
	This program offers two different courses for group learning: Painting and Japanese-style Anime. Painting focuses on drawing, oil and water color while Anime focuses on crafting manga, designing characters and crafting comics.</p>
      <p>
	This course is offered tuition-free through the WREACH OUT program, which is generously funded by <a href = "http://www.dcyf.org">DCYF</a>.
      </p>
    </div>
    <div class="right">
      <h2 class="first">Details</h2>
      <ul class="program-details">
	<li>
	  Registration Fee: $80
	</li>
	<li>
	  Tuition: None
	</li>
	<li>
	  Eligible: Students age 8-14
	</li>
	<li>
	  Painting: Tuesday 2:15pm to 3:15pm
	</li>
	<li>
	Anime Art: Thursday 3:00pm to 4:00pm
      </ul>
    </div>
  </div>
  <h2>Registration Information</h2>
  <p>
    For information on registration, please view the application:
  </p>
  <div class="registration-link cf">
    <a href="/application-files/Wreach-Out-Application.pdf">Wreach-Out-Application.pdf</a>
  </div>
</div>
