<% @title = "Group Piano Lessons" %>

<div class="content stuff">
  <div class="split cf">
    <div class="left copy">
      <h1><%= @title %></h1>
      <p>
	This program offers students piano lessons in a group settings. Students learn technique, the ability to read sheet music, pieces that increase with difficulty, music theory and music appreciation</p>
      <p>
	This course is offered tuition-free through the WREACH OUT program, which is generously funded by <a href = "http://www.dcyf.org" target="_blank">DCYF</a>.
      </p>

      <h2 class="first">Details</h2>
      <ul class="program-details">
	<li>
	  Registration Fee: $80
	</li>
	<li>
	  Tuition: None
	</li>
	<li>
	  Eligible: Children ages 6 - 12 residing in San Francisco
	</li>
	<li>
	  When: <br>
	  Wednesday 2:15 pm to 3:15 pm<br>
	  Thursday 3:00 pm to 4:00 pm<br>
	  Saturday 10:00 am to 11:00 am
	</li>
      </ul>
      <h2>Registration Information</h2>
      <p>
	For information on registration, please view the application:
      </p>
      <div class="registration-link cf">
	<a href="/application-files/Wreach-Out-Application.pdf">Wreach-Out-Application.pdf</a>
      </div>
    </div>
    <div class="right">
      <img src="/images/group-piano-lessons.jpg" alt="" />
    </div>
  </div>
</div>
