<% @title = "Korean American Youth Music Group" %>

<div class="content stuff">
  <div class="split-70-30 cf">
    <div class="left copy">
      <h1><%= @title %> </h1>
      <p>The Korean-American Youth Musical Group is a youth performing arts group specializing in traditional Korean folklore, drum and dance. 
	</p>
      <p>
	The group performs in recitals, events, concerts, and public venues such as Asian Art Museum, Korean Day in San Francisco, School of the Arts, and Asian Pacific Heritage Festival.
      </p>
    </div>
    <div class="right">
      <h2 class="first">Details</h2>
      <ul class="program-details">
	<li>
	  Registration Fee: $40
	</li>
	<li>
	  Tuition: $100
	<li>
	  Eligible: Students age 6 to 17
	</li>
	<li>
	  When: Friday from 3:30 pm to 6:30 pm
	</li>
      </ul>
    </div>
  </div>
  <h2>Registration Information</h2>
  <p>
    For information on registration, please view the application:
  </p>
  <div class="registration-link cf">
    <a href="/application-files/Studio-Application.pdf">Studio-Application.pdf</a>
  </div>
</div>
