<% @title = "Studio Program" %>

<div class="content stuff">
  <div class="split cf">
    <div class="left copy cf">
      <h1><%= @title %></h1>
      <p>
	The Studio Program provides youth and adult students with individualized, one-on-one lessons with our award-winning faculty.</p>
      <p>
	Our flagship program, the studio program focuses on improving students' skill levels and achieving students' goals.
      </p>
      <h2 class="first">Details</h2>
      <ul class="program-details">
	<li>
	  Registration Fee: $40
	</li>
	<li>
	  Tuition:  $30/30min, $45/45min, $60/60min
	</li>
	<li>
	  Eligible: All Students
	</li>
	<li>
	  When: Flexible, see registration form
	</li>
      </ul>
      <h2>Registration Information</h2>
      <p>
	For information on registration, please view the application:
      </p>
      
     <h2 class="first">Instruments</h2>
      <ul class="program-details">
	<li><a href="/classes/voice">Voice</a></li>
	<li><a href="/classes/piano">Piano</a></li>
	<li><a href="/classes/drums">Drums</a></li>
	<li><a href="/classes/cello">Cello</a></li>
	<li><a href="/classes/guitar">Guitar</a></li>
	<li><a href="/classes/saxophone">Saxophone</a></li>
	<li><a href="/classes/clarinet">Clarinet</a></li>

      </ul>
      
      
      <div class="registration-link cf">
	<a href="/application-files/Studio-Application.pdf">Studio-Application.pdf</a>
      </div>
    </div>
    <div class="right">
      <img src="/images/studio-program.jpg" alt="" />
    </div>
  </div>
</div>
