<% @title = "Summer Band Class" %>

<div class="content stuff">
  <div class="split cf">
    <div class="left copy cf">
      <h1><%= @title %></h1>
      <p>
	Join a band of musicians ready to jam!
      </p>
      <p>
	NCMACC is seeking bass players, guitar players, drummers, vocalists and keyboard players.
      </p>
      <p>
	Learn how to read charts, play in a band setting, rehearse with a band, play shows and how to run a band.
      </p>
      <h2 class="first">Details</h2>
      <ul class="program-details">
	<li>
	  Tuition: $139
	</li>
	<li>
	  When: 2-3pm, Every Saturday, June 22 to August 3rd (except for the 4th of July)
	</li>
      </ul>
      <h2>Registration Information</h2>
      <p>
	For information on registration, please view the application:
      </p>
      <div class="registration-link cf">
	<a href="/application-files/2013-Summer-Band-Class-Application.pdf">2013-Summer-Band-Class-Application.pdf</a>
      </div>
    </div>
    <div class="right">
      <img src="/images/ncmacc-band.png" alt="" />
    </div>
  </div>
</div>
