<% @title = "Taekwondo" %>

<div class="content stuff">
  <div class="split-70-30 cf">
    <div class="left copy">
      <h1><%= @title = "Taekwondo" %></h1>
      <p>
The Taekwondo program emphasizes the development of physical strength, coordination, and mental discipline. Students will learn basic techniques while focusing on the tenets of Taekwondo philosophy: courtesy, integrity, perseverance, self-control, and indomitable spirit.</p>
      <p>
	This course is offered tuition-free through the WREACH OUT program, which is generously funded by DCYF[http://www.dcyf.org].
      </p>
    </div>
    <div class="right">
      <h2 class="first">Details</h2>
      <ul class="program-details">
	<li>
	  Registration Fee: $80
	</li>
	<li>
	  Tuition: None
	</li>
	<li>
	  Eligible: Children ages 6 to 12 residing in San Francisco
	</li>
	<li>
	  When: Tuesday 3:30 pm to 5:00 pm<br>
	  *Location TBA
	</li>
      </ul>
    </div>
  </div>
  <h2>Registration Information</h2>
  <p>
    For information on registration, please view the application:
  </p>
  <div class="registration-link cf">
    <a href="/application-files/Wreach-Out-Application.pdf">Wreach-Out-Application.pdf</a>
  </div>
</div>
