<div class="content stuff">
  <h1Board</h1>
	<h2>Advisory Council</h2>
	<ul>
	<p>
	Mack McCray
    </p>
		<li>
		San Francisco Conservatory of Music
		<br>
		Piano Department Chair
		</li>
		<br>
	<p>
	NakHoon Sung
	</p>
		<li>
		Korean Historian
		<br>
		Kyungki Do Musium
		</li>
		<br>
	<p>
	Jimmy Cheong
	</p>
		<li>
		Journalist
		<br>
		The Weekly Morning Korean News
		</li>
		<br>
		<br>
	<h2>Board Members</h2>
	<p>
	Hagen Choi
	</p>
		<li>
		Board Chair
		<br>
		President of Tower Tour, Optima Investment
		</li>
		<br>
	<p>
	Young Moore
	</p>
		<li>
		Secretary
		<br>
		President of Star Communication
		</li>
		<br>
	<p>
	Doug Chang
	</p>
		<li>
		Executive Committee Chair
		<br>
		President of Calyx Software Company
		</li>
		<br>
	<p>
	Timothy H. Han
	</p>
		<li>
		Development Committee Chair
		<br>
		Dentist (D.D.S.)
		</li>
		<br>
	<p>
	John Rim
	</p>
		<li>
		Finance Commitee Chair
		<br>
		Vice President of Product Operation Finance, Bay Area Genentech, INC.
		</li>
		<br>
	<p>
	SeungKae Lim
	</p>
		<li>
		Board Member
		<br>
		President of Korean Christian Times
		</li>
		<br>
	<p>
	DongKook Chang
	</p>
		<li>
		Board Member
		<br>
		President of Hyundai DogoTech, Seoul, Korea
		</li>
		<br>
	<p>
	Duke K. Amaniampong
	</p>
		<li>
		Executive Committee Member
		<br>
		San Francisco Law School Professor
		</li>
		<br>
	<p>
	Michelle Nip
	</p>
		<li>
		Student Member
		<br>
		Student at UC Davis
		</li>
	</ul>

</div>
