<% if @message %>
<div class="content stuff">
  <h2><%= @message %></h2>
</div>
<% end %>

<div class="content stuff">
  <h1>Contact Us</h1>
  <p>
    <h2>Phone Number</h2>
    <p>
    <ul>
      <li>Call us at <strong>415-440-6222</strong>.</li>
      <li>Our staff is willing to assist you on the phone or in person.</li>
    </ul>
    </p>
    <h2>Address and Hours</h2>
    <ul>
      <li>1280 Webster Street</li>
      <li>San Francisco, CA 94115</li>
      <br/>
      <li>Monday-Friday 9:00am-7:00pm</li>
      <li>Saturday 9:00am-1:00pm</li>
    </ul>
  </p>
  <h2>Map</h2>
  <p>
    <iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=1280+webster+94115&amp;ie=UTF8&amp;hq=&amp;hnear=1280+Webster+St,+San+Francisco,+California+94115&amp;gl=us&amp;t=m&amp;ll=37.792762,-122.429581&amp;spn=0.032557,0.054932&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
  </p>
  <br/>
  <h2>Message Us</h2>
  <p>You may also use the form below to contact us.</p>
  <form method="post">
    <table cellpadding="5" cellspacing="5">
      <tr><th nowrap width="160" align="left" style="height:30px;">Name:</th><td><input size="35" name="feedback[name]" value=""> </td></tr>
      <tr><th nowrap align="left" style="height:30px;">E-mail Address:</th><td><input size="35" name="feedback[email_address]" value=""></td> </tr>
      <tr><th colspan="2" align="left" style="height:30px;">Message:</th></tr>
      <tr><td colspan="2"> <textarea cols="50" rows="7" name="feedback[message]">Enter your message here...</textarea> </td></tr>
      <tr><td colspan="2" align="right" style="text-align:right;"><input  type="submit" name="send" value="Send"></td></tr>
    </table>
  </form>
</div>
