<% @title = "FAQs" %>

<div class="content stuff">
  <h1>Frequently Asked Questions</h1>
  <h2>General Questions</h2>
  <ul>
    <li>
      <div class="question">What are your hours?</div>
      <div class="answer">Monday through Friday from 9:00 am to 7:00 pm.<br/>
	Saturday from 9:00 am to 3:00 pm.</div>
    </li>
    <li>
      <div class="question">Where are you located?</div>
      <div class="answer">3936 Geary Blvd, San Francisco, CA 94118</div>
    </li>
    <li>
      <div class="question">What forms of payment do you accept?</div>
      <div class="answer">We accept payments by cash or checks only. Right now we do not accept credit or debit cards.</div>
    </li>
  </ul>

  <h2>Private Lessons</h2>
  <ul>
    <li>
      <div class="question">At what age can my child begin taking music lessons?</div>
      <div class="answer">Students should be 4 years or older.</div>
    </li>
    <li>
      <div class="question">What is the range of music classes offered?</div>
      <div class="answer">We offer lessons for piano, drum, voice, clarinet, guitar, cello, violin, viola, saxophone.</div>
    </li>
    <li>
      <div class="question">How is a music school different from a private neighborhood teacher?</div>
      <div class="answer">Although excellent teachers can be found in almost every neighborhood, as a music school NCMACC presents your child with many important advantages:
	<ul class="program-details">
	  <li>We offer you a lesson schedule tailored to your needs.</li>
	  <li>At our Center you have a broader choice of instruments and teachers.</li>
	  <li>We help you to find a teacher matched to your specific needs, level and style.</li>
	  <li>We provide concert and performance opportunities for our students.</li>
	  <li>Our management team can be approached easily and we are able to mediate between parents, students and teachers.</li>
	  <li>Our teachers assess each student's performance and provides a yearly progress report  to keep parents informed of their children's strengths and challenges.</li>
	  <li>We know our students and their families. They are part of our community.</li>
	</ul>
      </div>
    </li>
    <li>
      <div class="question">How often do students take lessons?</div>
      <div class="answer">The average student takes one lesson per week.</div>
    </li>
    <li>
      <div class="question">How long of a lesson should I take?</div>
      <div class="answer">For children and beginners, a 30-minute lesson is usually a good way to start; teens, adults, intermediate or advanced children can take either a 45- or a 60-minute lesson.</div>
    </li>
    <li>
      <div class="question">How much is the tuition?</div>
      <div class="answer">There’s a one-time $40 registration fee to cover administrative support. Tuition fees are $30 for 30 minutes, $45 for 45 minutes and $60 for 60 minutes. Monthly lessons are paid in advance.</div>
    </li>
    <li>
      <div class="question">How often should a student practice?</div>
      <div class="answer">A regular routine is much better than long, infrequent sessions. If good habits develop from the beginning, students will achieve their true reward - the best progress possible.</div>
    </li>
    <li>
      <div class="question">Are there performance opportunities for students?</div>
      <div class="answer">Yes! Twice a year we organize a Studio Recital giving our students the opportunity to perform and to develop confidence in being on stage and publicly presenting their work. There's a special "home concert" event once a year for more advanced students.</div>
    </li>
    <li>
      <div class="question">Do I need to buy an instrument?</div>
      <div class="answer">Each student needs to have an instrument available for regular practice. You may purchase, rent, buy or borrow an instrument. Our teachers will assist you making the best choice for your needs.</div>
    </li>
    <li>
      <div class="question">How do I register for private lessons?</div>
      <div class="answer">We accept new students throughout the year. You can fill out our online registration form (link) or contact us by phone 415-751-6222.</div>
    </li>
    <li>
      <div class="question">May I try a lesson before making a longer commitment?</div>
      <div class="answer">Yes! Please call us to make an appointment for a trial lesson. A trial lesson is 30 minutes for $30.</div>
    </li>
  </ul>

  <h2>Group Lessons – WREACH OUT Program (Afterschool Program)</h2>
  <ul>
    <li>
      <div class="question">At what age can my child take part in the group lessons?</div>
      <div class="answer">Students should be between 6 and 12 years old.</div>
    </li>
    <li>
      <div class="question">What is the range of music and art classes offered?</div>
      <div class="answer">We offer group lessons for art, piano, singing and taekwondo.</div>
    </li>
    <li>
      <div class="question">How often do students take lessons?</div>
      <div class="answer">The average student takes one lesson per week.</div>
    </li>
    <li>
      <div class="question">How much is the tuition?</div>
      <div class="answer">The registration fee is $80 per semester/no tuition. Payment is due before the program starts.</div>
    </li>
    <li>
      <div class="question">Are there performance opportunities for students?</div>
      <div class="answer">Yes! We organize a WREACH OUT Recital at the end of each semester giving our students the opportunity to perform and to develop confidence in being on stage and publicly presenting their work.</div>
    </li>
    <li>
      <div class="question">How do I register for group lessons?</div>
      <div class="answer">Our group lessons are offered twice a year. Spring semester starts in January and ends in May. Fall semester starts in August and ends in December.</div>
    </li>
  </ul>

  <h2>Scheduling and Cancellation</h2>
  <ul>
 	 	<li> 
 	<div class="question"> Do students need to continue lessons through the summer?</div>
<div class="answer">Summer vacation : June 1 to August 24</div>
		</li>

		<li>
<div class="question">Is your center closed on holidays?</div>
<div class="answer">Winter vacation: 12/23-01/04</div>
		</li>

		<li>
<div class="question">what are your cancellation policy?</div>
<div class="answer">4 make up lessons per calendar year</div>
		</li>
  
    <li>
      <div class="question">What if my schedule changes and I need a new lesson time?</div>
      <div class="answer">Please contact your child’s teacher to arrange a schedule change. </div>
    </li>
    <li>
      <div class="question">Do students need to continue lessons through the summer?</div>
      <div class="answer">During summer vacation from June 15 to August 15 students and teachers will be allowed flexibility to arrange lesson schedule. Many of our teachers are available during the summer.  Sometimes we are only able to coordinate a few lessons between student and teacher vacation schedules, but that’s fine.</div>
    </li>
    <li>
      <div class="question">Is your center closed on holidays?</div>
      <div class="answer">Our center will be closed on National Holidays and during winter vacation from December 24 to January 2.</div>
    </li>
    <li>
      <div class="question">What are your cancellation policies?</div>
      <div class="answer">In case of emergency/illness students will be allowed up to 3 make up lessons per calendar year with 24 hours advance notice to our office.</div>
    </li>

    <h2>Still have more questions?</h2>
    <p><a href="/about/contact_us">Contact us</a> directly. We’d be happy to assist you.</p>
  </ul>
</div>
