<% @title = "Financial Reports" %>

<div class="content stuff">
  <h1><%= @title %></h1>
  <p>
    We provide our financial information on our website.
  </p>
  <h2>IRS Form 990 - Return of Organization Exempt From Income Tax</h2>
  <div class="registration-link cf">
    <a href="/financial-reports/2012-Federal-Tax-Form-990.pdf">2012-Federal-Tax-Form-990.pdf</a>
  </div>
  <div class="registration-link cf">
    <a href="/financial-reports/2011-Federal-Tax-Form-990.pdf">2011-Federal-Tax-Form-990.pdf</a>
  </div>
</div>
