<% @title = "Private Cello Lessons" %>
<% @description="Private Cello Lessons at NCMACC "%>
<div class="content stuff">
  <div class="split cf">
    <div class="left">
      <h1>Private Cello Lessons</h1>
      <img src="/images/privateLessons/piano_instruction.jpg" alt="private piano instruction" class="classPics"/>
      <h2 class="first">Details</h2>
<ul class="program-details">
<li> Registration Fee: $40 </li>
<li> Tuition: $30/30min, $45/45min, $60/60min </li>
<li> Eligible: All Students </li>
<li> When: Flexible, see registration form </li>
</ul>
<h2 class="first">More Coming Soon! Under Construction!</h2>


    </div>
    
<div class="right teachers">
      <h2 class="first">Cello Instructors</h2>

	  	  <img src="/images/faculty/pearson-peter.jpg" alt="" title="Peter Pearson"  class="teachersPics"/>

	<div class="biography">
	  <ul>
	    <li><h3>Peter Pearson</h3></li>
	    <li><h4>Cello</h4></li>
	    <li>
	      <p>
		M.M. San Francisco Conservatory of Music
	      </p>
	    </li>
	  </ul>
	</div>
    </div>
    
    
   



	</div>
  </div>

