<% @title = "Private Drum Lessons" %>

<div class="content stuff">
  <div class="split cf">
    <div class="left">
      <h1>Private Drum and Percussion Lessons</h1>
      <img src="/images/privateLessons/piano_instruction.jpg" alt="private piano instruction" class="classPics"/>
      <h2 class="first">Details</h2>
<ul class="program-details">
<li> Registration Fee: $40 </li>
<li> Tuition: $30/30min, $45/45min, $60/60min </li>
<li> Eligible: All Students </li>
<li> When: Flexible, see registration form </li>
</ul>
<h2 class="first">More Coming Soon! Under Construction!</h2>


    </div>
<div class="right teachers">
      <h2 class="first">Drum Instructors</h2>
	  <img src="/images/faculty/kubes-brian.jpg" alt="" title="Brian Kubes" class="teachersPics"/>
	<div class="biography">
	  <ul>
	    <li><h3>Brian Kubes</h3></li>
	    <li><h4>Percussion</h4></li>
	    <li>
	      <p>
		B.A. St. Cloud State University
	      </p>
	    </li>
	  </ul>
	</div>
    </div>
    
    
    <div class="right teachers">

	  <img src="/images/faculty/dieni-david.jpg" alt="" title="David Dieni" class="teachersPics"/>

	<div class="biography">
	  <ul>
	    <li><h3>David Dieni</h3></li>
	    <li><h4>Percussion</h4></li>
	    <li>
	      <p>
		M.M. San Francisco Conservatory of Music
	      </p>
	    </li>
	  </ul>
	</div>
	</div>




	</div>
  </div>
</div>
