<% @title = "Private Guitar Lessons" %>
<% @description="Private Guitar Lessons at NCMACC "%>
<div class="content stuff">
  <div class="split cf">
    <div class="left">
      <h1>Private Guitar Lessons</h1>
       <a class="fancybox" href="/images/instruments/student_playing_guitar.jpg" data-fancybox-group="gallery" title="Promo Photo 1"><img class="galleryThumbs" src="/images/instruments/student_playing_guitar.jpg" alt="private guitar lessons at NCMACC" style="width:500px;height:300px;"/></a>
   	 <a class="fancybox" href="/images/instruments/student_playing_guitar2.jpg" data-fancybox-group="gallery" title="Promo Photo 1"><img class="galleryThumbs" src="/images/instruments/student_playing_guitar2.jpg" alt="private guitar lessons at NCMACC" style="width:500px;height:300px;"/></a>
      <h2 class="first">Details</h2>
<ul class="program-details">
<li> Registration Fee: $40 </li>
<li> Tuition: $30/30min, $45/45min, $60/60min </li>
<li> Eligible: All Students </li>
<li> When: Flexible, see registration form </li>
</ul>
<h2 class="first">Guitar details and FAQs</h2>
<p> Guitars come in a few different flavors. There are Nylon String acoustic guitars,
Steel String acoustic guitars, and Electric guitars. Every guitar has 6 strings, and the same tuning, they
just have different techniques. For example, steel string guitars lend themselves to flat picking, nylon string
guitars lend themselves to finger picking. Choice in guitar is a matter of taste. Electric guitars need a specialized
guitar amp to produce sound.</p>

<h2 class="first">What is a good first guitar to buy?</h2>
<p> For smaller hands, a 3/4 sized guitar is probably better suited.</p>

    </div>
    
<div class="right teachers">
      <h2 class="first">Guitar Instructors</h2>

	  	  <img src="/images/faculty/james-khougaz.jpg" alt="" title="James Khougaz" class="teachersPics"/>

	<div class="biography">
	  <ul>
	    <li><h3>James Khougaz</h3></li>
	    <li><h4>Guitar</h4></li>
	    <li>
	      <p>
		B.A. San Francisco State University
	      </p>
	    </li>
	  </ul>
	</div>
    </div>
    
    
   



	</div>
  </div>

