<% @title = "Private Violin Lessons" %>
<% @description="Private Violin Lessons at NCMACC "%>
<div class="content stuff">
  <div class="split cf">
    <div class="left">
      <h1>Private Violin Lessons</h1>
      <img src="/images/privateLessons/piano_instruction.jpg" alt="private piano instruction" class="classPics"/>
      <h2 class="first">Details</h2>
<ul class="program-details">
<li> Registration Fee: $40 </li>
<li> Tuition: $30/30min, $45/45min, $60/60min </li>
<li> Eligible: All Students </li>
<li> When: Flexible, see registration form </li>
</ul>
<h2 class="first">More Coming Soon! Under Construction!</h2>


    </div>
<div class="right teachers">
      <h2 class="first">Violin Instructors</h2>


	  <img src="/images/faculty/knudson-christina.jpg" alt="" title="Christina Knudson" class="teachersPics" />
	<div class="biography">
	  <ul>
	    <li><h3>Christina Knudson</h3></li>
	    <li><h4>Violin</h4></li>
	    <li>
	      <p>
		M.M. San Francisco Conservatory of Music<br/>Suzuki Certification Violin Book 1 & 2
	      </p>
	    </li>
	  </ul>
	</div>
      </li>
    </div>
    
    
    <div class="right teachers">
	  <img src="/images/faculty/walther-michele.jpg" alt="" title="Michele Walther" class="teachersPics" />
	<div class="biography">
	  <ul>
	    <li><h3>Michele Walther</h3></li>
	    <li><h4>Chamber Music, Violin</h4></li>
	    <li>
	      <p>
		M.M. Basel Conservatory of Music, Switzerland
	      </p>
	    </li>
	  </ul>
	</div>
      </li>
	</div>



    <div class="right teachers">
	  <img src="/images/faculty/carducci-natalie.jpg" alt="" title="Natalie Carducci" class="teachersPics"/>
	<div class="biography">
	  <ul>
	    <li><h3>Natalie Carducci</h3></li>
	    <li><h4>Violin</h4></li>
	    <li>
	      <p>
		Graduate Student, San Francisco Conservatory of Music
	      </p>
	    </li>
	  </ul>
	</div>
      </li>
	</div>


	</div>
  </div>
</div>
